@media screen and (max-width:600px){
    .header__encabezado{
        font-size: 15px;
    }

    .header__slogan{
        font-size: 12px;
    }
    
    .header__logo{
        margin-left: 10px;
        margin-top: 10px;
        height: 25px;
        width: 40px;
        grid-column: 1/2;
    }

    .navbar{
        position: relative;
    }

    .nav__item{
        font-size: 12px;
    }

    .home__titulo{
        font-size: 25px;
    }

    .home__texto{
        font-size: 20px;
    }

    .productos__texto{
        font-size: 20px;
    }

    .comprar__texto{
        font-size: 20px;
    }

    .seccion__texto{
        font-size: 12px;
    }

    .seccion__imagen{
        width: 50%;
        height: 70%;
        display:block;
        grid-column: 6/9;
        grid-row:2/6;
    }

    .img__slider{
        width: 60%;
        height: 50%;
    }

    .card-text{
        font-size: 15px;
    }

    .producto1{
        font-size: 15px;
    }

    .producto2{
        font-size: 15px;
    }

    .producto3{
        font-size: 15px;
    }

    .seccion_textocamita1{
        font-size: 12px;
    }

    .seccion_textocamita2{
        font-size: 12px;
    }

    .seccion_textocamita3{
        font-size: 12px;
    }

    .seccion__camita1{
        height: 60%;
        width: 70%;
    }

    .seccion__camita2{
        height: 60%;
        width: 70%;
    }
    .seccion__camita3{
        height: 60%;
        width: 70%;
    }

    .formulario{
        font-size: 15px;
    }

    .text-muted{
        font-size: 12px;
    }
}

@media screen and (max-width:400px){
    .header__encabezado{
        font-size: 12px;
    }

    .header__slogan{
        font-size: 8px;
    }

    .header__logo{
        margin-left: 5px;
        margin-top: 5px;
        height: 15px;
        width: 25px;
        grid-column: 1/2;
    }

    .nav__item{
        display:none
    }

    .text-muted{
        font-size: 9px;
    }

    .home__titulo{
        font-size: 20px;
    }

    .home__texto{
        font-size: 15px;
    }

    .productos__texto{
        font-size: 15px;
    }

    .comprar__texto{
        font-size: 15px;
    }

    .card-text{
        font-size: 12px;
    }

    .formulario{
        font-size: 12px;
    }

    .seccion__imagen{
        width: 40%;
        height: 80%;
        display:block;
        }

}

@media screen and (min-width:576px){
    .nav__menu{
        display:none;
    }

}

@media screen and (max-width: 450px){
    .mapa{
        display: none;
    }
}
