$fuente_textos: 'Acme', sans-serif;
$color_body: 'lightgrey';

* {
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
    float:left
}

/* Map con map-get */
$estilo_fuente : (
    'tipo' : $fuente_textos,
    'estilo' : normal,
    'peso' : normal,
    'tamaño' : 15px
);

p{
    font-family: map-get($map: $estilo_fuente, $key: 'tipo');
    font-style: map-get($map: $estilo_fuente, $key: 'estilo');
    font-weight: map-get($map: $estilo_fuente, $key: 'peso');
    font-size: map-get($map: $estilo_fuente, $key: 'tamaño');
    line-height: 20 px;
    margin-bottom: 20 px;
}

body{
    background-color: $color_body;
}

.header__logo{
    width: 90px;
    height: 60px;
    animation-name: aparecer;
    animation-duration: 2s;
    animation-iteration-count: initial;
}

@keyframes aparecer{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header__encabezado{
    font-family:'Fredoka One';
    font-size: 50px;
    color:black;
    font-weight: bold;
    text-align: center;
    animation-name: animate__swing;
    animation-duration: 3s;
    animation-iteration-count:initial;
}

.header__slogan{
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    text-transform:capitalize;
    color:darkmagenta;
    display:flex;
    grid-row: 2;
    grid-column: 4/6;
    justify-content:space-around
}

.home__titulo{
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(5, 0, 10);
    font-family:'Fredoka One', cursive;
    font-size: 40px;
    text-align: center;
    font-weight:bolder;
}
.home__texto{
    margin-left: 20px;
    margin-right: 20px;
    color:darkmagenta;
    font-family:'Acme', sans-serif;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
}

.productos__texto{
    color:darkmagenta;
    font-family:'Acme', sans-serif;
    font-size: 20px;
    text-align: justify;
    margin-block-end:  20px;
    line-height: 40px;
}

.comprar__texto{
    color:darkmagenta;
    font-family:'Acme', sans-serif;
    font-size: 20px;
    text-align: justify;
    margin-block-end:  20px;
    line-height: 40px;
}

.icono{
    margin: 20px;
}

.seccion__subtitulo{
    font-family:'Acme', sans-serif;
    font-size:25px;
    color:rgb(5, 0, 10);
    display:flex;
    grid-column:1/4;
}

.seccion__texto{
    grid-column:1/5;
    grid-row:2/9;
    color:darkmagenta;
    font-size: 20px;
    text-align:justify;
    justify-content:space-around;
    line-height: 30px;
}

.subtitulo{
    font-family:'Fredoka One', cursive;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    color: black;
}

.subform{
    font-family: 'Acme', sans-serif;
    color: darkmagenta;
    font-weight: bolder;
}

.seccion__imagen{
    width: 80%;
    height:100%;
    grid-column: 6/9;
    grid-row:2/9;
    border: 3px solid;
    border-radius: 10px;
    margin-left: 40px;
}

.nav__menu{
    width: 60px;
    height: 20px;
    margin-left: 10px;
    display: flex;
    grid-column: 1/2;
    grid-row: 1;
    align-content: space-around;
    cursor: pointer;
}

.navbar__menu {
    display: flex;
    grid-column: 3/9;
    height: 25px;
    padding: 10px;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    text-align: center;
    justify-content: space-around;
    margin-top: 10px;
}

.slider{
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.img__slider{
    animation-name: animate__slideInRight;
    animation-duration: 2s;
    animation-iteration-count:initial;
}

.card-img-top:hover{
    transform:scale(1.1)
}

.card-text{
    text-align: center;
    line-height: 35px;
}

.tarjeta{
    text-align: center;
}

/* Extend y Mixin */

.piedepagina_generico {
    font-size: 15px;
    display: flex; 
}

@mixin crearPiePagina($columna, $alineacion){
    @extend .piedepagina_generico;
    grid-column: $columna;
    justify-content: $alineacion;
}

.piedepagina__desarrolladora{    
    @include crearPiePagina(2,center)
}

.piedepagina__redessociales{
    @include crearPiePagina(3,space-evenly)
}

.pie_nuevo {
    background-color: #ff8c00;
}



